<h2 class="display-6 text-primary">
アカウント一覧</h2>
		<div id="side">
		●グループ
		<% @categories.all.each do |category| %>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/article_edits/category/<%= category.id %>"><%= category.name %></a></p>
		<% end %>
		</div>
<table>
	<tr>
		<th>ID</th><th>投稿者</th><th>権限</th><th>所属組織</th><th>Eメール</th><th>登録日</th><th>更新日</th><th>編集</th>グループ編集<th colspan="2"></th>
	</tr>
	<% @accounts.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.name %></td>
        <td><%= @auths[obj.auth] %></td>
        <td><%= obj.organization %></td>
        <td><%= obj.email %></td>
        <td><%= obj.created_at.strftime(" %Y.%m.%d %a %H:%M") %></td>
        <td><%= obj.updated_at.strftime(" %Y.%m.%d %a %H:%M") %></td>
		<td><a href="/group_edits/index/<%= obj.id %>">グループ編集</a></td>
		<td><a href="/admins/edit/<%= obj.id %>">編集</a></td>
		<td><%= link_to "削除", "/admins/delete/#{obj.id}", method: :delete, data: {confirm: "本当にこのアカウントを削除しますか？"} %></td>
	</tr>
	<% end %>
</table>
<p><a href="/admins/add">新規登録</a></p>
<p><a href="/admins/menu">戻る</a></p>