<h3 class="display-6 text-primary">
記事一覧</h3>
<hr>
	<div id="side">
	●カテゴリー
	<% @categories.all.each do |category| %>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/articles/index/<%= category.id %>"><%= category.name %></a></p>
	<% end %>
	</div>

	<% @data.each do |obj| %>
	<div class="border-bottom border-secondary rounded m-md-2 pt-2 pb-md-5 pl-2 w-75" id="article" style="background:#FFFFFF;">
	<span>
		<a href="/articles/show/<%= obj.id %>">
			<span class="float-left pr-3" ><%= image_tag obj.image_url(:thumb) if obj.image.present? %>
			</span><h3><%= obj.title %></h3>
		</a>
		<span class="float-right h6 pr-3"><p>投稿者：<%= obj.account.name %>／公開範囲：<%= obj.disclosureRange.name %>／グループ：<%= obj.group.name %><%= obj.created_at.strftime(" %Y.%m.%d %a %H:%M") %></span></p>
	</span>
	</div>

	<% end %>
<div class="navigate">
<div><%= paginate @data %></div>
</div>