<h3 class="display-6 text-primary">
記事一覧</h3>
<hr>
	<div id="side">
		●カテゴリー
		<% @categories.all.each do |category| %>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/articles/index/<%= category.id %>"><%= category.name %></a></p>
		<% end %>
	</div>

	<% @data.each do |obj| %>
		<div class="d-flex rounded m-md-2 w-75" id="article" style="background:#FFFFFF;">
			<div class="card-body">
			<a href="/articles/show/<%= obj.id %>">
				<span class="float-left pr-3" ><%= image_tag obj.image_url(:thumb) if obj.image.present? %></span>
				<h3 class="text-secondary"><%= obj.title %></h3>
			</a>
				<span class="float-right text-secondary h6 pr-3 pt-3">
				<% if account_signed_in? %>
					投稿者：<%= obj.account.name %><br>
				<% end %>
					投稿日：<%= obj.created_at.strftime(" %Y.%m.%d %a %H:%M") %>
				</span>
			</div>
		</div>
	<% end %>
<div class="navigate">
	<div><%= paginate @data %></div>
</div>