<h3 class="display-6 text-secondary">
記事一覧</h3>
<hr>
	<div id="side">
		●カテゴリー
		<% @categories.all.each do |category| %>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/articles/index/<%= category.id %>"><%= category.name %></a></p>
		<% end %>
	</div>

	<% @data.each do |obj| %>
		<div class="d-flex rounded m-md-2 w-75" id="article" style="background:#FFFFFF;">
			<div class="card-body">
			<% if account_signed_in? %>
			<div class="d-inline-block w-75">
				<% end %>
				<a href="/articles/show/<%= obj.id %>">
					<span class="float-left pr-3" >
						<% if obj.image.present? %>
							<%= image_tag obj.image_url(:thumb) %>
						<% else %>
							<%= image_tag 'no-image.png', :size => '100x100' %>
						<% end %>
					</span>
					<h3 class="text-secondary"><%= obj.title %></h3>
				</a>
				<% if account_signed_in? %>
				</div>
				<% end %>
				<% if account_signed_in? %>
				<div class="d-inline-block float-right w-25">
					<p></p>
				<% end %>
					<span class="float-right text-secondary h6 pr-3 pt-3">
					<% if account_signed_in? %>
						<br>投稿者：<%= obj.account.name %>
					<% end %>
						<br>投稿日：<%= obj.created_at.strftime(" %Y.%m.%d") %>
					</span>
					<% if account_signed_in? %>
				</div>
				<% end %>
			</div>
		</div>
	<% end %>
<div class="navigate">
	<div><%= paginate @data %></div>
</div>