<h4 class="display-5 text-primary">
グループ管理画面</h4>
<p>※グループ一覧</p>
<table>
	<tr>
		<th>Id</th><th>グループ名</th><th>編集</th><th>削除</th>
	</tr>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.name %></td>
		<td><a href="/groups/edit/<%= obj.id %>">編集</a></td>
		<td><a href="/groups/delete/<%= obj.id %>" class="alert-link">削除</a></td>
		<td><%= link_to "削除", "/groups/delete/#{obj.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
	</tr>
	<% end %>
</table>
<p><a href="/groups/add">新規作成＞＞</a></p>
<p><a href="/admins/menu/">戻る</a></p>