<% if @article.errors.any? %>
<ul>
    <% @article.errors.full_messages.each do |err| %>
    <li><%= err %></li>
    <% end %>
</ul>
<% end %>
<div class="container" style="background:#FFFFFF;">
    <h4 class="display-5 text-dark" style="width: 160px;">
        記事の投稿</h4>
    <%= form_for(@article, url:{controller:'article_edits', action:'add'}) do |form| %>
    <div class="form-group pt-3">
        <label for="title">タイトル</label>
        <%= form.text_field :title, {class:"form-control"} %>
    </div>
    <div class="form-group">
        <label for="content">記事</label>
        <%= form.rich_text_area :content %>
    </div>
    <br />
    <div class="h5">各種設定</div>
    <table class="table table-borderless h6" style="background:#f5f5f5;">
        <tr class="d-flex">
            <div class="form-group">
                <td class="col-4 text-right pt-4">カテゴリー：</td>
                <td class="col-5"><%= form.select :category_id, @util.get_model_hash(@categories_select), {}, class: 'form-control' %> </td>
            </div>
        </tr>
        <tr class="d-flex">
            <div class="form-group">
                <td class="col-4 text-right pt-4"><label for="group_id">グループ：</label></td>
                <td class="col-5"><%= form.select :group_id, @util.get_model_hash(@groups), {}, class: 'form-control' %> </td>
            </div>
        </tr>
        <tr class="d-flex">
            <div class="form-group">
                <td class="col-4 text-right pt-4"><label for="disclosureRange_id">公開範囲：</label></td>
                <td class="col-5"><%= form.select :disclosureRange_id, @util.get_model_hash(@disclosureRanges), {}, class: 'form-control w-75' %> </td>
            </div>
        </tr>
        <tr class="d-flex">
            <div class="form-group">
                <td class="col-4 text-right pt-3"><label for="image">アイキャッチ：</label></td>
                <td class="col-5"><%= form.file_field :image %></td>
            </div>
        </tr>
    </table>
    <div class="form-group">
        <%= form.hidden_field :account_id, value: current_account.id%>
    </div>
    <div class="text-center pb-3 pt-1">
        <%= form.submit "投稿する", class: 'btn btn-secondary'%>
    </div>
    <% end %>
    <div class="p-3">
        <p><%= link_to '戻る', 'javascript:history.back()' %></p>
    </div>
</div>