<h5 class="display-5 text-secondary">
記事の編集</h5>

<% if @article.errors.any? %>
<ul>
	<% @article.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
</ul>
<% end %>
<div class="container" style="background:#FFFFFF;">
	<%= form_for(@article, url:{controller:'article_edits', action:'edit'}) do |form| %>
	　　<div class="form-group">
		<label for="title">タイトル</label>
		<%= form.text_field :title, {class:"form-control"} %>
		</div>
		<div class="form-group">
		<label for="content">記事</label>
		<%= form.rich_text_area :content %>
		</div>
		<div class="form-group">
		<label for="category_id">カテゴリー：</label>
		<%= form.select :category_id, @util.get_model_hash(@categories) %> 
		</div>
		<div class="form-group">
		<label for="group_id">グループ:</label>
		<%= form.select :group_id, @util.get_model_hash(@groups)%> 
		</div>
		<div class="form-group">
		<label for="disclosureRange_id">公開範囲:</label>
		<%= form.select :disclosureRange_id, @util.get_model_hash(@disclosureRanges)%> 
		</div>
		<div class="form-group">
		<label for="image">サムネイル:</label>
		<%= form.file_field :image %>
	</div>
	<%= form.submit "更新" %>
<% end %>
</div>
<p><a href="/article_edits/index">戻る</a></p>