<h5 class="display-5 text-secondary">
記事の編集</h5>

<% if @article.errors.any? %>
<ul>
	<% @article.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
</ul>
<% end %>
<div class="container" style="background:#FFFFFF;">
	<%= form_for(@article, url:{controller:'article_edits', action:'edit'}) do |form| %>
	　　<div class="form-group">
		<label for="title">タイトル</label>
		<%= form.text_field :title, {class:"form-control"} %>
		</div>
		<div class="form-group">
		<label for="content">記事</label>
		<%= form.rich_text_area :content %>
		</div>
	 <table class="table table-borderless h6"  style="background:#f8f8ff;">
		<tr class="d-flex">
			<div class="form-group">
				<td class="col-2 text-right pt-4">カテゴリー：</td>
				<td class="col-5"><%= form.select :category_id, @util.get_model_hash(@categories_select), {}, class: 'form-control' %> </td>
			</div>
		</tr><tr class="d-flex">
			<div class="form-group">
				<td class="col-2 text-right pt-4"><label for="group_id">グループ：</label></td>
				<td class="col-5"><%= form.select :group_id, @util.get_model_hash(@groups), {}, class: 'form-control' %> </td>
			</div>
		</tr><tr class="d-flex">
			<div class="form-group">
				<td class="col-2 text-right pt-4"><label for="disclosureRange_id">公開範囲：</label></td>
				<td class="col-5"><%= form.select :disclosureRange_id, @util.get_model_hash(@disclosureRanges), {}, class: 'form-control w-75' %> </td>
			</div>
		</tr><tr class="d-flex">
			<div class="form-group">
				<td class="col-2 text-right pt-3"><label for="image">アイキャッチ：</label></td>
				<td class="col-5"><%= form.file_field :image %></td>
			</div>
		</tr>
	</table>
		<div class="text-center pb-3 pt-1">
			<%= form.submit "更新する", class: 'btn btn-secondary'%>
		</div>
	<% end %>
</div>
<p><%= link_to :back do %>戻る<% end %></p>