<h1 class="display-4 text-primary">
Articles#edit</h1>
<p>※「<%= @article.title %>」の編集</p>
<% if @article.errors.any? %>
<ul>
	<% @article.errors.full_messages.each do |err| %>∂
		<li><%= err %></li>
	<% end %>
</ul>
<% end %>
</table>
</div>
<%= form_for(@article, url:{controller:'article_edits', action:'edit'}) do |form| %>
<table>
　　<div class="form-group">
	  <label for="title">タイトル</label>
      <%= form.text_field :title, {class:"form-control"} %>
	</div>
	<div class="form-group">
	  <label for="content">記事</label>
	  <%= form.rich_text_area :content , {cols:40, rows:10} %>
	</div>
	<div class="form-group">
	  <label for="category_id">カテゴリー：</label>
	  <%= form.select :category_id, @util.get_category_hash(@categories) %> 
	</div>
	<div class="form-group">
	  <label for="group_id">グループ:</label>
	  <%= form.select :group_id, @util.get_category_hash(@groups)%> 
	</div>
	<div class="form-group">
	  <label for="disclosureRange_id">公開範囲:</label>
	  <%= form.select :disclosureRange_id, @util.get_category_hash(@disclosureRanges)%> 
	</div>
</table>
<%= form.submit "更新" %>
<% end %>
<p><a href="/article_edits/index">戻る</a></p>