<h1 class="display-4 text-primary">
groupRelation#index</h1>
<p>『<%= @accountName.name %>』の所属グループ</p>
<table>
    <tr>
        <th>Id</th><th>グループ名</th><th>削除</th>
    </tr>
<% @groupRelation.each do |obj| %>
<tr>
	<td><%= obj.group_id %></td>
	<td><%= obj.group.name %></td>
	<td><%= link_to "削除", "/group_edits/delete/#{obj.id}", method: :delete, data: {confirm: "グループ『#{obj.group.name}』を削除しますか？"} %></td>
</tr>
<% end %>
</table>

<%= form_for(@groupRelationAdd, url:{controller:'group_edits', action:'add'}) do |form| %>
<table>
　  <td>
    <div class="form-group">
	  <label for="group_id">追加可能なグループ</label><br>
	  <%= form.select :group_id, @addGroups %>
	</div></td>
	<td><div class="form-group">
	  <%= form.hidden_field :account_id , value: params[:id]  %>
	</div>
	</td>
</table>
<%= form.submit "送信" %>
<% end %>
<p><a href="/admins/index">戻る</a></p>