<!DOCTYPE html>
<html>
	<head>
		<title>ナレッジサイト</title>
		<%= csrf_meta_tags %>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

		<%= stylesheet_link_tag 'articles', media: 'all', 
			'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'actiontext', media: 'all', 
			'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 
			'data-turbolinks-track': 'reload' %>
	</head>

	<body class="container">
		<header id="header">
	    <div id="side">
		<% if account_signed_in? %>
		<p><%= @account.name %></p>
		<% end %>
		●メニュー<br>
		<% if !account_signed_in? %>
		    <a href="/accounts/sign_in/">ログイン</a><br>
		<% else %>
		    <a href="/admins/menu/">管理画面</a>
		    <div><%= button_to "Sign out&gt;&gt;".html_safe, destroy_account_session_path, method: :delete %></div>			
		<% end %>
		</div>
			<h1><a href="/"><%= @articleconfig.title %></a></h1>
			<h2><%= @articleconfig.subtitle %></h2>
		</header>
		<hr>
		<%= yield %>
	  <div class="mt-5 text-center small text-scondary border-top border-scondary">
        2020 ナレッジサイト
	  </div>
	</body>
</html>
